{% extends 'html.twig' %}

{% block contents %}

<h1>Благодарим за пройденный опрос!</h1>
    <div class="disclaimer disclaimer--green">
    <p>
    <strong>
        Что дальше?
    </strong>
    <br>
        Благодарим за затраченное время и интерес к прохождению опроса! Ваши результаты действительно важны для нас!
    <br>
        Интерпретация результатов всех опросов будет включена в дипломную работу автора
    <br>
        Интерпретацию по уровню толерантности и оценке ваших характеристик, можете прочитать ниже. Так-же там указаны общие баллы.
    </p>
</div>
    
    
<h2>Пройденные опросы: </h2>
<div class="results d-none">
    {% for key, methodic in questions %}
        <br />
        <h2>{{ key }}</h2>
        {% for scale in methodic %}
            <h5>{{ scale.name }}</h5>
            {% for question in scale.questions %}
                <div class="form-group">
                    <strong>{{ question.title }}</strong>: {{results[key][question.id]}}
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>

<ul>
{% for key, score in scores %}
    <li><strong>{{ key }}</strong>: {{ score.all }} баллов ({{ score.conclusion }})
        {% for subkey, scale in score.scales %}
            {% if scale.scaleConclusion %}
                <br><small>{{ scale.scaleConclusion }}</small>
            {% endif %}
        {% endfor %}
        {% for subkey, characteristic in score.characteristics %}
            {% if characteristic.characteristicConclusion %}
                <br><small><strong>{{ subkey }}</strong>: {{ characteristic.characteristicConclusion }}</small>
            {% endif %}
        {% endfor %}
    </li>
{% endfor %}
</ul>
  <style type="text/css">
   td { 
    border: 1px solid #ccccee;
    padding: 4px 10px;
   }
  </style>

{% endblock %}
