{% extends 'html.twig' %}

{% block contents %}
    <h1>{{ name }}!Исследование на тему: <br> «Взаимосвязь индивидуально - психологических особенностей и толерантности личности»</h1>
    <p>Цель нашего исследования — <strong>выявление взаимосвязи между уровнем толерантности и ориентацией личности.</strong>
    Исследование является анонимным. Интерпретация данных будет проводиться на основании
    результатов статистической обработки. Индивидуальные данные не разглашаются и не
    интерпретируются. Для заполнения бланка внимательно прочитайте инструкцию и дайте ответ соответствующий вашим
    представлениям.</p>
<h1>Пройденные опросы: </h1>
<div class="results d-none">
    {% for key, methodic in questions %}
        <br />
        <h2>{{ key }}</h2>
        {% for scale in methodic %}
            <h5>{{ scale.name }}</h5>
            {% for question in scale.questions %}
                <div class="form-group">
                    <strong>{{ question.title }}</strong>: {{results[key][question.id]}}
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>

<ul>
{% for key, score in scores %}
    <li><strong>{{ key }}</strong>: {{ score.all }} баллов ({{ score.conclusion }})
        {% for subkey, scale in score.scales %}
            {% if scale.scaleConclusion %}
                <br><small>{{ scale.scaleConclusion }}</small>
            {% endif %}
        {% endfor %}
    </li>
{% endfor %}
</ul>
  <style type="text/css">
   td { 
    border: 1px solid #ccccee;
    padding: 4px 10px;
   }
  </style>

{% endblock %}
