{% extends 'html.twig' %}

{% block contents %}
    <div class="blank">
        <h2>Бланк методики №1</h2>
        <div class="blank-instructions">
            <p><strong>Инструкция:</strong> <br>
                В предложенном бланке представлены наиболее распространенные качества человека. <br>
                Положительные значения этих качеств обозначены знаком «+», а отрицательные - «-». Их степень
                оценивается по семибалльной шкале. Порядок работы с методикой очень прост и заключается в
                следующем:<br>
                ▪ выбор знака того или иного качества;<br>
                ▪ определение степени его проявления по баллам:<br>
                ▪ 3 — проявляется очень сильно и очень часто;<br>
                ▪ 2 — выражено достаточно заметно и часто встречается;<br>
                ▪ 1 — проявляется иногда и слабо;<br>
                ▪ 0 — трудно сказать, есть и то, и другое.<br>
                На основе выбранных знаков и степени выраженности качества выберите соответствующую
                цифру в таблице. Помните, что положительные и отрицательные качества людей, приведенные в
                таблице, постоянно меняются местами. Поэтому будьте внимательны в своих оценках.
            </p>
        </div>
        {% if errors is defined %}
            <div style="color: red">Заполните все поля перед отправкой</div>
        {% endif %}
        {% for scale in questions %}
        <div class="blank-section">
            {% for question in scale.questions %}
            <div class="blank-section blank-section--type-six">
				<div id="{{ question.id }}" class="question-type-six">
					<div class="question-left"><strong>{{ question.left }}</strong></div>
					<div class="question-right"><strong>{{ question.right }}</strong></div>
					<div data-result="-3" class="question-var question-var--type-six {% if data[question.id] is same as('-3') %}active{% endif %}">3</div>
					<div data-result="-2" class="question-var question-var--type-six {% if data[question.id] is same as('-2') %}active{% endif %}">2</div>
					<div data-result="-1" class="question-var question-var--type-six {% if data[question.id] is same as('-1') %}active{% endif %}">1</div>
					<div data-result="0" class="question-var question-var--type-six {% if data[question.id] is same as('0') %}active{% endif %}">0</div>
					<div data-result="1" class="question-var question-var--type-six {% if data[question.id] is same as('1') %}active{% endif %}">1</div>
					<div data-result="2" class="question-var question-var--type-six {% if data[question.id] is same as('2') %}active{% endif %}">2</div>
					<div data-result="3" class="question-var question-var--type-six {% if data[question.id] is same as('3') %}active{% endif %}">3</div>
				</div>
                {% if errors is defined %}
                    {% if errors[question.id] is defined %}
                        <p style="color: red; text-align: center; margin-top: 0"><small>{{ errors[question.id] }}</small></p>
                    {% endif %}
                {% endif %}
			</div>
            <div class="hr"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div>
        <div class="button-wrap">
            <p>Шаг 6 из 6</p>
            <div class="button submit-button">Завершить опрос</div>
        </div>
    </div>
<div class="button-wrap d-none">
    <form id="survey-form" action="/survey" method="post">
        <input type="hidden" name="data[name]" value="Methodic 6">

        {% if errors is defined %}
            <div style="color: red">Ошибка</div>
        {% endif %}

        {% for scale in questions %}
            <h5>{{ scale.name }}</h5>
            {% for question in scale.questions %}
                <div class="form-group">
                    <label>{{ question.title }}: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"
                            type="text" name="data[{{ question.id }}]" id="form-{{ question.id }}"
                            {% if data[question.id] is defined %}value="{{ data[question.id] }}"{% endif %} >
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Отправить">
    </form>
</div>
{% endblock %}
