{% extends 'html.twig' %}

{% block contents %}
    <p>
        <a href="/admin">Назад в админку</a>
    </p>
    <div class="row">
    {% for result in collections %}
        <div class="col-md-3 col-sm-4 col-6">
            <a href="/admin/results/{{ result.id }}" class="result-item{% if result.new %} new{% endif %}">
            <h4>{% if result.userName %} {{ result.userName }} {% else %} {{ result.id }}{% endif %}</h4>
            <span>от {{ result.date }}</span>
            <span>{{ result.sex }}</span>
            {% if result.new %}
                <div class="new-label">Новый!</div>
            {% endif %}
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
