{% extends 'html.twig' %}

{% block contents %}
<h1>Хоуп привет!☺ Это опрос от респондента: {{ userName }} {{ name }}</h1>
<p> Пол: {{ results.final.gender }}, Возраст: {{ results.final.age }}, Ориентация: {{ results.final.orientation }}  <br>
</p>
<h4>Общие результаты:</h4>
<div class="results">
    {% for key, methodic in questions %}
        {% if key == "Methodic 1" %}
            <br>
            <h4>Методика 1 — {{ scores[key]['all'] }} баллов</h4>
            <table>
            <tr><th>{{ key }}</th><th>Всего: {{ scores[key]['all'] }} баллов</th><th>{{ scores[key]['conclusion'] }}</th></tr>
            {% for scale in methodic %}
                <tr><td>{{ scale.name }}</td><td>{{ scores[key]['scales'][scale.id]['score'] }} баллов</td></tr>
            {% endfor %}
            </table>
        {% elseif key == "Methodic 2" %}
            <br>
            <h4>Методика 2 — {{ scores[key]['all'] }} баллов</h4>
            <table>
            <tr><th>{{ key }}</th><th>Всего: {{ scores[key]['all'] }} баллов</th><th>{{ scores[key]['conclusion'] }}</th></tr>
            {% for scale in methodic %}
                <tr><td>{{ scale.name }}</td><td>{{ scores[key]['scales'][scale.id]['score'] }} баллов</td><td>{{ scores[key]['scales'][scale.id]['scaleConclusion'] }}</td></tr>
            {% endfor %}
            </table>
        {% elseif key == "Methodic 3" %}
            <br>
            <h4>Методика 3 - Шкала Кинси</h4>
            <table>
            <tr><th>{{ key }}</th><th>Результат:</th></tr>
            {% for scale in methodic %}
                <tr><td>{{ scale.name }}</td><td>{{ results[key]["question-1"] }}</td></tr>
            {% endfor %}
            </table>
        {% elseif key == "Methodic 4" %}
            <br>
            <h4>Методика 4 — решетка Клейна {{ scores[key]['all'] }} баллов</h4>
            <table>
            <tr><th>{{ key }}</th><th>Всего: {{ scores[key]['all'] }} баллов</th><th>{{ scores[key]['conclusion'] }}</th></tr>
            </table>
        {% elseif key == "Methodic 5" %}
            <br>
            <h4>Методика 5</h4>
            <table>
            <tr><th>{{ key }}</th></tr>
            {% for scale in methodic %}
                {% for question in scale.questions %}
                    <tr><td>{{ question.title }}</td><td>{{results[key]['select-' ~ question.id]}}</td><td>{{results[key][question.id]}}</td></tr>
                {% endfor %}
                <tr><td><strong>Вывод</strong></td><td><strong>{{results[key]['userConclusion']}}</strong></td></tr>
            {% endfor %}
            </table>
        {% elseif key == "Methodic 6" %}
            <br>
            <h4>Методика 6 — {{ scores[key]['all'] }} баллов</h4>
            <table>
            <tr><th>{{ key }}</th><th>Всего: {{ scores[key]['all'] }} баллов</th></tr>
            {% for subkey, characteristic in scores[key]['characteristics'] %}
                {% if characteristic.characteristicConclusion %}
                    <tr><td>{{ subkey }}</td><td><strong>{{ characteristic.characteristicConclusion }}</strong></td></tr>
                {% endif %}
            {% endfor %}
            </table>
        {% endif %}

    {% endfor %}
</div>
<p></p>
<br>
<br>
   <div class="result-card">
        {% if scores['Methodic 1'] %}
            <h2>Методика №1. Коммуникативная толерантность Бойко</h2>
            <p><strong>Ваш общий балл коммуникативной толерантности: {{ scores['Methodic 1']['all'] }}</strong>
            {% if scores['Methodic 1']['all'] < 46 %}
                <br><i>Чем меньше баллов вы набрали, тем выше ваша коммуникативная толерантность, так о <strong>её высоком уровне, говорит результат до 45 баллов</strong></i>
                , вы набрали {{ scores['Methodic 1']['all'] }} баллов, значит вы отличаетесь высоким уровнем толерантности.</p>
            {% elseif scores['Methodic 1']['all'] > 45 and scores['Methodic 1']['all'] < 86 %}
                <br><i>Чем меньше баллов вы набрали, тем выше ваша коммуникативная толерантность, так о <strong>её среднем уровне, говорит результат от 46 до 85 баллов</strong></i>,
                и это точно про вас, вы набрали {{ scores['Methodic 1']['all'] }} баллов, о вас можно сказать, что вы отличаетесь как толерантным, так и нетолерантным поведением.</p>
            {% elseif scores['Methodic 1']['all'] > 85 and scores['Methodic 1']['all'] < 126 %}
                <br><i>Чем меньше баллов вы набрали, тем выше ваша коммуникативная толерантность, так о <strong>её низком уровне, говорит результат от 86 до 125 баллов</strong></i>,
                ваш результат, вы набрали {{ scores['Methodic 1']['all'] }} баллов, в большинстве случаев, вы отличаетесь нетолерантным поведением.</p>
            {% elseif scores['Methodic 1']['all'] > 125 %}
                <br><i>Людей, набравших больше 125 баллов, отличает полное неприятие и непонимание (нежелание понимать) других людей, их мнения, мысли, образ действий и т.д.</p>
            {% endif %}
            <div class="expand-block">
                <div class="expand-title">Информация о коммуникативной толерантности</div>
                <div class="expand-label">(Развернуть)</div>
                <div class="expand-label label-transparent">(Свернуть)</div>
                <div class="expand-info">
                    <p>Согласно автору методики, коммуникативная толерантность, или толерантность в общении, подразделяется на ситуативную, типологическую, профессиональную и общую. 
                    Уровень ситуативной толерантности определяется отношением человека к конкретному партнеру по общению (супругу, коллеге, случайному знакомому), типологической – отношением к собирательному типу или группе людей (представителям какой-либо национальности, профессии, социального слоя). 
                    Профессиональная коммуникативная толерантность проявляется в рабочей обстановке, во взаимодействии с теми людьми, с которыми приходится иметь дело по роду деятельности (клиентами, пациентами). 
                    Общая коммуникативная толерантность обусловлена жизненным опытом, свойствами характера, нравственными принципами и в значительной мере предопределяет другие формы коммуникативной толерантности.
                    </p>
                </div>
            </div>
            <ul>
                <li><strong>Шкала №1. Вы набрали {{ scores['Methodic 1']['scales']['scale-1']['score'] }} балла(-ов).</strong>
                    <br><i>Данная шкала «Непринятие или непонимание индивидуальности другого человека» показывает толерантность к проявлению другими людьми их индивидуальности (во всем, что касается коммуникации: от общительности в целом до громкости голоса). <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-1']['score'] < 6 %}
                            Набравшие от 0 до 5 баллов, как правило, весьма терпимы.
                        {% elseif scores['Methodic 1']['scales']['scale-1']['score'] > 10 and scores['Methodic 1']['scales']['scale-1']['score'] < 16 %}
                            Те, кто набирает 11–15 баллов, обычно проявляют явную нетерпимость к особенностям других людей. 
                        {% else %}
                            У набравших от 6 до 10 баллов, как правило, средний уровень терпимости.
                        {% endif %}
                        </strong>
                    </i>
                </li>
                <li><strong>Шкала №2. Вы набрали {{ scores['Methodic 1']['scales']['scale-2']['score'] }} балла(-ов).</strong>
                    <br><i>Шкала «Использование себя в качестве эталона при оценке поведения и образа мыслей других людей»
                            показывает, насколько для вас характерно сравнение других людей с собой, при этом ваши поведение, мысли, слова и т.д. оцениваются как единственно верные. 
                        <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-2']['score'] < 6 %}
                            Количество баллов от 0 до 5 говорит об отсутствии такой привычки
                        {% elseif scores['Methodic 1']['scales']['scale-2']['score'] > 10 and scores['Methodic 1']['scales']['scale-2']['score'] < 16 %}
                            Вы набрали 11–15 баллов, видимо, вам свойственно сранивать других с собой (не в пользу других, конечно).
                        {% else %}
                            Средний уровень – 6–10 баллов.
                        {% endif %}
                        </strong>
                    </i>
                </li>
                <li><strong>Шкала №3. Вы набрали {{ scores['Methodic 1']['scales']['scale-3']['score'] }} балла(-ов).</strong>
                    <br><i>Данная шкала «Категоричность или консерватизм в оценках других людей»
                    показывает, насколько развита гибкость/консервативность ваших оценок и суждений ваших партнеров по коммуникации. 
                    <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-3']['score'] < 6 %}
                            Максимальная гибкость присуща тем, кто набрал от 0 до 5 баллов.
                        {% elseif scores['Methodic 1']['scales']['scale-3']['score'] > 10 and scores['Methodic 1']['scales']['scale-3']['score'] < 16 %}
                            Высокие баллы (от 11 до 15) говорят, что вы оцениваете всех очень строго, категорично, и в таких оценках вам свойственен консервативный подход.
                        {% else %}
                            Средний уровень – 6–10 баллов.
                        {% endif %}
                        </strong>
                    </i>
                </li>
                <li><strong>Шкала №4. Вы набрали {{ scores['Methodic 1']['scales']['scale-4']['score'] }} балла(-ов).</strong>
                    <br><i>Шкала «Неумение скрывать или сглаживать неприятные чувства при столкновении с некоммуникабельными качествами партнеров» 
                    Эта шкала показывает, насколько хорошо вам удается скрывать неприятные чувства, вызываемые людьми,
                    которые по тем или иным причинам вам не нравятся.
                    Чем больше баллов вы набрали, тем труднее вам замаскировать свое негативное отношение. 
                    <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-4']['score'] < 6 %}
                            Лучше всего скрывают ее те, кто получил от 0 до 5 баллов. 
                        {% elseif scores['Methodic 1']['scales']['scale-4']['score'] > 10 and scores['Methodic 1']['scales']['scale-4']['score'] < 16 %}
                            Хуже всего свои чувства скрывают или сглаживают обладатели 11–15 баллов. 
                        {% else %}
                            Средний уровень – 6–10 баллов.
                        {% endif %}
                        </strong>
                    </i>
                </li>
                <li><strong>Шкала №5. Вы набрали {{ scores['Methodic 1']['scales']['scale-5']['score'] }} балла(-ов).</strong>
                    <br><i>Шкала «Стремление переделать, перевоспитать партнеров» 
                    показывает, характерно ли для вас стремление перевоспитывать других людей, навязывать им то поведение, которые вы считаете приемлемым и корректным.
                    <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-5']['score'] < 6 %}
                            Если вы набрали от 0 до 5 баллов, то можно ожидать, что вы не пытаетесь никого перевоспитывать.
                        {% elseif scores['Methodic 1']['scales']['scale-5']['score'] > 10 and scores['Methodic 1']['scales']['scale-5']['score'] < 16 %}
                            Если вы набрали от 11 до 15 баллов, то, скорее всего, у вас есть такая черта.  
                        {% else %}
                            Средний уровень – 6–10 баллов.
                        {% endif %}
                        </strong>
                    </i>
                </li>
                <li><strong>Шкала №6. Вы набрали {{ scores['Methodic 1']['scales']['scale-6']['score'] }} балла(-ов).</strong>
                    <br><i>Шкала «Стремление подогнать партнера под себя, сделать его "удобным"» 
                    Эта шкала показывает, свойственно ли вам подгонять формат и стиль общения,
                    а заодно и собеседников под наиболее комфортные для вас рамки. 
                    <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-6']['score'] < 6 %}
                            Результат в 0–5 баллов говорит об отсутствии такой привычки. 
                        {% elseif scores['Methodic 1']['scales']['scale-6']['score'] > 10 and scores['Methodic 1']['scales']['scale-6']['score'] < 16 %}
                            Если вы набрали от 11 до 15 баллов, видимо, осознанно или нет, вы стараетесь сделать тех, с кем вы общаетесь,
                            и сам процесс коммуникации удобными именно для вас, невзирая на мнение и потребности собеседников. 
                        {% else %}
                            Средний уровень – 6–10 баллов.
                        {% endif %}
                        </strong>
                    </i>
                </li>
                <li><strong>Шкала №7. Вы набрали {{ scores['Methodic 1']['scales']['scale-7']['score'] }} балла(-ов).</strong>
                    <br><i>Данная шкала «Неумение прощать другим ошибки, неловкость, непреднамеренно причиненные вам неприятности» 
                    Шкала показывает терпимость/нетерпимость к ошибкам партнеров по коммуникации, даже сделанным очевидно ненарочно, а также демонстрирует умение/неумение прощать такие ошибки. 
                    <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-7']['score'] < 6 %}
                            Не испытывают с этим проблем обладатели обладатели 0–5 баллов. 
                        {% elseif scores['Methodic 1']['scales']['scale-7']['score'] > 10 and scores['Methodic 1']['scales']['scale-7']['score'] < 16 %}
                            Те, кто набирает от 11 до 15 баллов, как правило, очень плохо прощают чужие ошибки и оплошности.
                        {% else %}
                            Средний уровень – 6–10 баллов.
                        {% endif %}
                        </strong>
                    </i>
                </li>
                <li><strong>Шкала №8. Вы набрали {{ scores['Methodic 1']['scales']['scale-8']['score'] }} балла(-ов).</strong>
                    <br><i>Шкала «Нетерпимость к физическому или психическому дискомфорту, создаваемому другими людьми» 
                        У каждого из нас бывают периоды, когда что-то болит или какая-то сторонняя проблема занимает все мысли. Иными словами,
                        все мы можем пребывать в состоянии дискомфорта, когда ищем поддержки, сочувствия или хотя бы терпимости у партнера по общению – даже не самого близкого. 
                        <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-8']['score'] < 6 %}
                            Человек, набравший 0–5 баллов терпим к дискомфорту собеседника: если не предложит помощь, то хотя бы на словах выразит сочувствие. 
                        {% elseif scores['Methodic 1']['scales']['scale-8']['score'] > 10 and scores['Methodic 1']['scales']['scale-8']['score'] < 16 %}
                            У людей, набравших 11–15 баллов, чужой дискомфорт и чужие слабости вызывают скорее раздражение и неприятие. 
                        {% else %}
                            6–10 баллов – средний уровень.
                        {% endif %}
                        </strong>
                    </i>
                </li>
                <li><strong>Шкала №9. Вы набрали {{ scores['Methodic 1']['scales']['scale-9']['score'] }} балла(-ов).</strong>
                    <br><i>Данная шкала «Неумение приспосабливаться к характеру, привычкам и желаниям других» 
                        Шкала показывает, умеет ли человек приспосабливаться к особенностям того или иного партнера по коммуникации. 
                    <br>
                        <strong>
                        {% if scores['Methodic 1']['scales']['scale-9']['score'] < 6 %}
                            Те, кто набрал 0-5 баллов, обычно без проблем приспосабливаются к характеру, привычкам, образу мысли и действий своих собеседников. 
                        {% elseif scores['Methodic 1']['scales']['scale-9']['score'] > 10 and scores['Methodic 1']['scales']['scale-9']['score'] < 16 %}
                            Те, кто набрал 11-15 баллов, как правило, испытывают с этим проблемы. 
                        {% else %}
                            6-10 баллов – средний уровень.
                        {% endif %}
                        </strong>
                    </i>
                </li>
            </ul>
        {% endif %}
    </div>
    <div class="delimeter-wrap">

    </div>
    <div class="result-card">
        {% if scores['Methodic 2'] %}
        <h2>Методика №2. Экспресс-опросник "Индекс толерантности"</h2>
        <p><strong>Ваш общий балл коммуникативной толерантности: {{ scores['Methodic 2']['all'] }}</strong>
        {% if scores['Methodic 2']['all'] < 61 %}
            <br>Низкий уровень толерантности. Такие результаты свидетельствуют о высокой интолерантности человека и наличии у него выраженных интолерантных установок по отношению к окружающему миру и людям.</p>
        {% elseif scores['Methodic 2']['all'] > 60 and scores['Methodic 2']['all'] < 100 %}
            <br>Средний уровень. Такие результаты показывают респонденты, для которых характерно сочетание как толерантных, так и интолерантных черт. В одних социальных ситуациях они ведут себя толерантно, в других могут проявлять интолерантность.</p>
        {% elseif scores['Methodic 2']['all'] > 99 %}
            <br><i>Высокий уровень толерантности. Представители этой группы обладают выраженными чертами толерантной личности. В то же время необходимо понимать, что результаты, приближающиеся к верхней границе (больше 115 баллов), могут свидетельствовать о размывании у человека "границ толерантности", связанном, к примеру, с психологическим инфантилизмом, тенденциями к попустительству, снисходительности или безразличию.</p>
        {% endif %}
    {% endif %}
    </div>
    <div class="delimeter-wrap">

    </div>
    <div class="result-card">
        {% if results['Methodic 3'] %}
        <h2>Методика №3. Шкала Кинси - самостоятельное определение сексуального влечения</h2>
        <p><strong>Ваша оценка: {{ results['Methodic 3']['question-1'] }}</strong>
        {% if results['Methodic 3']['question-1'] == 0 %}
            <br>Только гетеросексуальный опыт и гетеросексуальные психические реакции</p>
        {% elseif results['Methodic 3']['question-1'] == 1 %}
            <br>Единичный или случайный гомосексуальный опыт</p>
        {% elseif results['Methodic 3']['question-1'] == 2 %}
            <br>Неслучайный гомосексуальный опыт и/или осознанный отклик на гомосексуальные раздражители</p>
        {% elseif results['Methodic 3']['question-1'] == 3 %}
            <br>Приблизительно равное количество очевидно гетеросексуальных и гомосексуальных контактов и/или психических реакций на них</p>
        {% elseif results['Methodic 3']['question-1'] == 4 %}
            <br>Преобладание очевидно гомосексуальных контактов и/или психических реакций на них, при наличии осознанного отклика на гетеросексуальные раздражители и/или значительного числа гетеросексуальных контактов</p>
        {% elseif results['Methodic 3']['question-1'] == 5 %}
            <br>Почти исключительно гомосексуальный опыт или реакции, при наличии случайных гетеросексуальных контактов</p>
        {% elseif results['Methodic 3']['question-1'] == 6 %}
            <br>Только гомосексуальный опыт и психические реакции</p>
        {% elseif results['Methodic 3']['question-1'] == 'X' %}
            <br>Асексуальность – отсутствие полового влечения</p>
        {% endif %}
    {% endif %}
    </div>
    <div class="delimeter-wrap">

    </div>
    <div class="result-card">
        {% if scores['Methodic 4'] %}
            <h2>Методика №4. Решетка Клейна.</h2>
            <p><strong>Ваша оценка: {{ ((scores['Methodic 4']['all']) / 21)|round(2, 'floor') }} из 6</strong>
            <p>Результат может быть от 1 до 7. Шкала не предусматривает полного отсутствия сексуальности. А расшифровка результата приведена ниже. <br>
            Не смущайтесь, если результаты окажутся противоречивыми: научные категории условны и не поддаются строгому разграничению, да и сами наши чувства сплошь и рядом неоднозначны.</p>
            <i>1 — означает, что ваше сексуальное влечение, поведение, фантазии и т.д. были, есть или должны быть в идеале ориентированы исключительно на людей противоположного пола. <br>
                2 — что они направлены главным образом на лиц противоположного пола, но иногда и своего пола. <br>
                3 — что в вашем эротическом воображении и т.п. преобладают лица другого пола, но представители своего пола также играют заметную роль. <br>
                4 — что ваши влечения, сексуальные контакты и т.п. разделены примерно поровну между лицами другого и своего пола. <br>
                5 — что в них преобладают лица своего пола, но люди другого пола также играют важную роль. <br>
                6 — прямая противоположность 2. <br>
                7 — что ваши влечения, поведение и т.п. направлены исключительно на лиц собственного пола.</i>
        {% endif %}
    </div>
    <div class="delimeter-wrap">

    </div>
    <div class="result-card">
        {% if results['Methodic 5'] %}
            <h2>Методика №5. Ответы на вопрос к себе: "Кто Я?".</h2>
            <p><i>Этот тест не поддаётся автоматическому анализу, но он крайне важен для оценки психологом</i></p>
            <div class="row">
                {% for key, value in results['Methodic 5'] %}
                    {% if key|slice(0,8) == 'question' %}
                        <div class="col-4 col-sm-3">
                            {{ results['Methodic 5']["select-" ~ key]}} {{ value }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col-12">
                <strong>Вывод:</strong> {{ results['Methodic 5']['userConclusion'] }}</div>
            </div>
        {% endif %}
    </div>
    <div class="delimeter-wrap">

    </div>
    <div class="result-card">
        {% if scores['Methodic 6'] %}
        <h2>Методика №6. Личностный дифференциал Осгуда</h2>
        <p><strong>Общая сумма: {{ scores['Methodic 6']['all'] }}</strong></p>
        <ul>
            <li><strong>Характеристика Оценки, здесь Вы набрали {{ scores['Methodic 6']['characteristics']['Оценка']['score'] }} балла(-ов).</strong>
                <br><i>Оценки (О) свидетельствуют об уровне самоуважения. «Высокие значения» этого фактора говорят о том,
                что вы принимаете себя как личность, склонен осознавать себя носителем позитивных,
                социально желательных характеристик, в определенном смысле удовлетворен собой.
                «Низкие значения» фактора (О) указывают на критическое отношение человека к самому себе,
                    его неудовлетворенность собственным поведением, уровнем принятия самого себя.
                    Особо низкие значения этого фактора в самооценках свидетельствуют о возможных невротических или
                    иных проблемах, связанных с ощущением малой ценности своей личности. 
                    <br>
                    <strong>
                    {% if scores['Methodic 6']['characteristics']['Оценка']['score'] < 8 %}
                        7 и менее - низкий уровень Оценки.
                    {% elseif scores['Methodic 6']['characteristics']['Оценка']['score'] > 16 %}
                        От 17 до 21 - Высокий уровень Оценки
                    {% else %}
                        От 8 до 16 - Средний уровень Оценки
                    {% endif %}
                    </strong>
                </i>
            </li>
            <li><strong>Характеристика Силы, здесь Вы набрали {{ scores['Methodic 6']['characteristics']['Сила']['score'] }} балла(-ов).</strong>
                <br><i>Фактор Силы (С) в самооценках свидетельствует о развитии волевых сторон личности,
                 как они осознаются самим испытуемым. Его «высокие значения» говорят об уверенности в себе,
                  независимости, склонности рассчитывать на собственные силы в трудных ситуациях.
                   «Низкие значения» свидетельствуют о недостаточном самоконтроле, 
                   неспособности держаться принятой линии поведения,
                    зависимости от внешних обстоятельств и оценок. Особо низкие оценки свидетельствуют и
                     указывают на астенизацию и тревожность. Во взаимных оценках фактор (С)
                      выявляет отношения доминирования – подчинения, как они воспринимаются субъектом оценки.

                    <br>
                    <strong>
                    {% if scores['Methodic 6']['characteristics']['Сила']['score'] < 8 %}
                        7 и менее - низкий уровень Силы.
                    {% elseif scores['Methodic 6']['characteristics']['Сила']['score'] > 16 %}
                        От 17 до 21 - Высокий уровень Силы
                    {% else %}
                        От 8 до 16 - Средний уровень Силы
                    {% endif %}
                    </strong>
                </i>
            </li>
            <li><strong>Характеристика Активности, здесь Вы набрали {{ scores['Methodic 6']['characteristics']['Активность']['score'] }} балла(-ов).</strong>
                <br><i>Фактор Активности (А) в самооценках интерпретируется как свидетельство экстравертированности личности.
             «Положительные» (+) значения указывают на высокую активность, общительность, импульсивность; «отрицательные»
              (–) – на интровертированность, определенную пассивность, спокойные эмоциональные реакции. 
              Во взаимных оценках отражается восприятие людьми личностных особенностей друг друга.
                    <br>
                    <strong>
                    {% if scores['Methodic 6']['characteristics']['Активность']['score'] < 8 %}
                        7 и менее - низкий уровень Активности.
                    {% elseif scores['Methodic 6']['characteristics']['Активность']['score'] > 16 %}
                        От 17 до 21 - Высокий уровень Активности
                    {% else %}
                        От 8 до 16 - Средний уровень Активности
                    {% endif %}
                    </strong>
                </i>
            </li>
        </ul>
    {% endif %}
    </div>
<br>
<br>
<h4>Подробнейшие результаты:</h4>
<div class="results">
    {% for key, methodic in questions %}
        <br />
        <h2>{{ key }}</h2>
        {% for scale in methodic %}
            <h5>{{ scale.name }}</h5>
            {% for question in scale.questions %}
                <div class="form-group">
                    <strong>{{ question.title }}</strong>: {{results[key][question.id]}}
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
</ul>
  <style type="text/css">
   td { 
    border: 1px solid #ccccee;
    padding: 4px 10px;
   }
   th { 
    border: 1px solid #ccccee;
    padding: 6px 14px;
    font-weight: bold;
   }
  </style>


{% endblock %}
